html,body{
    font: 100% 微软雅黑, 宋体, 新宋体;
    margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
    padding: 0;
    text-align: center; /* 在 IE 5* 浏览器中，这会将容器居中。文本随后将在 #container 选择器中设置为默认左对齐 */
    color: #FFF;
    height: 100%; /*这里将高度设置为100%是这个布局实现自适应高度的关键，只有这里设置了高度，下面div的高度设置才起作用*/
}
#layout {
    width: 100%;
    height: 100%;
    margin: 0px auto;

}
#header {
    height: 13%;
    border:1px solid #96C2F1;
    background-color: #EFF7FF;
}
#container {
    height: 82%;
    border:1px solid #9BDF70;
    background-color: #F0FBEB
}
#container #sidebar {
    height: 100%;
    width: 20%;
    background-color: #F0FBEB;
    float: left;
}
#container #main {
   height: 100%;
    width: 80%;
    background-color: #EEFAFF;
    float: left;
    font-sytle:italic;
    color:gray;
}

.table{
    width:50%;
    float:left;
    
    
}
#footer {
    height: 5%;
    background-color: #FAFCFD;
}
.clearfloat { /* 此类应当放在 div 或 break 元素上，而且该元素应当是完全包含浮动的容器关闭之前的最后一个元素 */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}